* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 9, 251, 0.498);
}

.mainForm {
    position: relative;
    padding: 25px;
    width: 380px;
    background-color: #151a26;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainForm input {
    position: relative;
    width: 100%;
    padding: 15px;
    color: white;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.mainForm input::placeholder {
    color: white;
    font-weight: 400;
    font-size: 14px;
}

form.invalid::before {
    content: "";
    position: absolute;
    right: 40px;
    background: url('/image/cross_img.png') no-repeat center;
    background-size: cover;
    width: 22px;
    height: 22px;
    transition: 0.4s ease;
}

form.valid::before {
    content: "";
    position: absolute;
    right: 40px;
    background: url('/image/valid\ img.png') no-repeat center;
    background-size: cover;
    width: 22px;
    height: 22px;
    transition: 0.5s ease;
}

